<main>
  <section class="relative h-[70vh] w-full text-white pt-20">
    <!-- imagem de fundo -->
    <div
      class="absolute inset-0 bg-cover bg-center"
      style="
        background-image: url('https://xl.movieposterdb.com/22_06/2022/1745960/xl_1745960_c7c6b638.jpg');
      "
    ></div>

    <!-- overlay escuro (ESSENCIAL) -->
    <div class="absolute inset-0 bg-gradient-to-t from-black via-black/60 to-transparent"></div>

    <!-- conteúdo -->
    <div class="absolute bottom-0 p-4 space-y-3 max-w-2xl">
      <p class="text-sm text-gray-300">Paramount Pictures</p>

      <h1 class="text-3xl md:text-5xl font-bold">Top Gun: Maverick</h1>

      <ul class="flex flex-wrap gap-3 text-sm text-gray-300">
        <li>+12</li>
        <li>130 min</li>
        <li>Apple TV</li>
        <li>Prime Video</li>
      </ul>

      <!-- botões -->
      <div class="flex gap-3 mt-4">
        <button class="bg-white text-black px-4 py-2 rounded font-semibold flex items-center gap-2">
          <i class="fa-regular fa-circle-play"></i> Assistir Trailer
        </button>

        <button class="border border-white px-4 py-2 rounded">
          <i class="fa-solid fa-circle-plus text-xl"></i> Minha lista
        </button>
      </div>

      <p class="text-sm text-gray-300 mt-4 line-clamp-3">
        Top Gun: Maverick é a sequência de 2022 de Top Gun: Ases Indomáveis, dirigida por Joseph
        Kosinski. A história acompanha Pete "Maverick" Mitchell (Tom Cruise), um piloto de testes da
        Marinha dos EUA que, mais de 30 anos após se formar na escola Top Gun, é convocado para
        treinar um grupo de graduados de elite para uma missão impossível.
      </p>
    </div>
  </section>
</main>
